

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
  }
</style>

<table>
  <thead>
    <tr>
      <th></th>
      <th>列車進入月台車站之站名</th>
      <th>行駛目的地</th>
      <th>資料更新日期</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list;let i = index">
      <td>{{i+1}}</td>
      <td>{{item.Station}}</td>
      <td>{{item.Destination}}</td>
      <td>{{item.UpdateTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
    </tr>
  </tbody>
</table>
